.search {
  padding: 20px 75px 20px 75px;
}

.input:focus {
  border: none;
  border-radius: 0;
  border-bottom: 1.5px solid #5986db;
}

.text {
  font-size: 30px;
  text-align: center;
  color: brown;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 150px;
}